---
layout: default
---

<div style="background-image: url('/images/{{ data.img }}')" class="block w-full my-6 bg-center bg-cover cover-image aspect-video stylized"></div>
<div class="w-full prose prose-invert prose-zinc textbody max-w-none">
  <h1 class="text-2xl font-bold heading">{{ data.title }}</h1>
  <span>{{ data.date | date: "%d.%m.%Y"}}</span>
  {{ content }}
</div

