/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

@view-transition {
	navigation: auto;
}


@font-face {
	font-family: "Departure Mono";
	font-weight: 400;
	src: url(/fonts/DepartureMono-Regular.woff) format("woff"),
		url(/fonts/DepartureMono-Regular.woff2) format("woff2"),
		url(/fonts/DepartureMono-Regular.otf) format("opentype");
}

:root {
	--body-background: #0b0b0b;
	--body-color: #fff;
	--heading-color: black;
	--action-color: #d64045;
}

body {
	color: var(--body-color);
	background: var(--body-background);
	font-family: "Departure Mono", BlinkMacSystemFont, -apple-system, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.stylized {
	filter: brightness(110%) saturate(10) contrast(1.5) grayscale(0.95);
	mix-blend-mode: hard-light;
}

.nav {
	font-size: 16.5px;
}

.clip-path {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.title-lg {
	font-size: 22px;
	letter-spacing: normal;
	line-height: normal;
	font-weight: 400;
}

.title-xl {
	font-size: 55px;
	letter-spacing: -5px;
	line-height: normal;
	font-weight: 400;
}

p {
	font-size: 16.5px;
}

.prose h2 {
	font-size: 22px;
	font-weight: 400;
}

li {
	font-size: 16.5px;
}

.date {
	font-size: 22px;
}

.date-xs {
	font-size: 14px;
}

p a {
	color: rgb(251, 41, 251);
	text-decoration: underline;
	font-weight: 400;
}

.list-item a {
	transition: background-color 300ms, filter 300ms;
	background-color: rgba(255, 255, 255, 0);
}

.list-item:hover a {
	background-color: rgba(255, 255, 255, 0.03);
	filter: saturate(5) contrast(1.2) grayscale(0.8);
	transition: filter 300ms, background-color 300ms;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
