<header>
</header>

<nav class="max-w-3xl mx-auto">
  <ul class="flex items-end justify-start gap-4">
    <li class="text-xl grow"><a href="{{ '/' | relative_url }}">simovirtanen.com</a></li>
    <li><a href="{{ '/' | relative_url }}">Posts</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
  </ul>
</nav>
