<nav class="w-full max-w-3xl mx-auto">
  <ul class="flex items-center justify-start h-12 gap-4 px-2 nav md:px-0">
    <li class="grow"><a href="{{ '/' | relative_url }}">simovirtanen.com</a></li>
    <li><a href="{{ '/' | relative_url }}">Posts</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
  </ul>
</nav>
