<header>
</header>

<nav class="max-w-3xl mx-auto">
  <ul class="flex justify-end gap-4">
    <li><a href="{{ '/' | relative_url }}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}">About</a></li>
  </ul>
</nav>
